<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

<style>
  body,
  html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid,
  .grid-start {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(<%=columns %>, 1fr);
    grid-template-rows: repeat(<%=rows %>, 1fr);
  }

  .grid-start {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .grid button,
  .grid-start button {
    width: 100%;
    height: 100%;
  }
</style>

<body class="bg-black sans-serif">
  <div class="grid-start">
    <a class="f1 link dim br4 ma1 dib white bg-dark-gray pointer inline-flex items-center justify-center pointer"
      onclick="start()">
      Start
    </a>
  </div>

  <div class="grid tc" style="display: none;">
    <% sounds.forEach(function(sound) { %>
      <a class="f6 link dim br4 ma1 dib white bg-dark-gray pointer inline-flex items-center justify-center pointer"
        onclick="playSound('<%= sound.url %>')">
        <%= sound.name %>
      </a>
      <% }) %>
  </div>

  <script>

    function start() {
      document.querySelector('.grid-start').style.display = 'none';
      document.querySelector('.grid').style.display = 'grid';

      var eventSource = new EventSource('/listen');

      eventSource.onmessage = function (event) {
        console.log(event.data);
        var sound = JSON.parse(event.data);
        console.log({ sound })
        playSound(sound);
      }
    }

    function playSound(sound) {
      var audio = new Audio(sound);
      audio.play();
    }
  </script>
</body>

</html>