<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

<style>
  body, html {
    height: 100%;
    margin: 0;
  }
  
</style>

<body class="bg-black sans-serif pa1">
  <div class="tc flex flex-wrap w-100" >
    <% sounds.forEach(function(sound) { %>
      <div class="w-25 h3 pa1">
        <a class="w-100 h-100 f6 link dim br4 ma1 dib white bg-dark-gray pointer inline-flex items-center justify-center" onclick="sendSound('<%= sound.url %>')">
          <%= sound.name %>
        </a>
      </div>
    <% }) %>
  </div>

  <script>
    function sendSound(sound) {
      fetch('/play', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json; charset=UTF-8'
        },
        body: JSON.stringify({sound: sound})
      });
    }

  </script>
</body>

</html>
