<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

<style>
  body, html {
    height: 100%;
    margin: 0;
  }
  
</style>

<body class="bg-black sans-serif pa1">
  <div class="tc flex flex-wrap w-100" >
    <% sounds.forEach(function(sound) { %>
      <div class="w-25 h3 pa1">
        <a class="w-100 h-100 f6 link dim br4 ma1 dib white bg-dark-gray pointer inline-flex items-center justify-center" onclick="sendSound('<%= sound.url %>')">
          <%= sound.name %>
        </a>
      </div>
    <% }) %>
  </div>
  <div class="white-50 pa4 mt4">
    <div class="b--white-20 pa4 w-100 h5 ba flex items-center justify-center">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="measure">
          <label for="file" class="f6 b db mb2">Select MP3 to upload:</label>
          <input type="file" name="file" id="file" accept=".mp3" class="input-reset ba b--black-20 pa2 mb2 db w-100">
          <input type="submit" value="Upload MP3" name="submit" class="b ph3 pv2 input-reset ba br4 bg-dark-gray white grow pointer f6 dib">
        </div>
      </form>
    </div>
    
  </div>

  <script>
    function sendSound(sound) {
      fetch('/play', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json; charset=UTF-8'
        },
        body: JSON.stringify({sound: sound})
      });
    }

  </script>
</body>

</html>
