<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

<style>
  body, html {
    height: 100%;
    margin: 0;
  }
  
</style>

<body class="bg-black sans-serif pa1">
  <div class="tc flex flex-wrap w-100" >
    <% sounds.forEach(function(sound) { %>
      <div class="w-25 h3 pa1">
        <a class="w-100 h-100 f6 link dim br4 ma1 dib white bg-dark-gray pointer inline-flex items-center justify-center" onclick="sendSound('<%= sound.url %>')">
          <%= sound.name %>
        </a>
      </div>
    <% }) %>
  </div>
  <div class="white-50 pa4 mt4">
    <div class="b--white-20 pa2 w-100 h5 ba flex items-center justify-center">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="measure">
          <label id="upload" class="ma0 b ph3 pv2 input-reset ba br4 bg-dark-gray hover-bg-light-gray white hover-black pointer f6 b--white-50">
            <span id="file-selected">Upload MP3</span>
            <input type="file" name="file" id="file" accept=".mp3" class="dn" onchange="fileChange()">
          </label>
          <input type="submit" value="Upload" name="submit" id="fileSubmit" class="ma0 dn b ph3 pv2 input-reset ba br4 hover-bg-white hover-black bg-black white pointer f6 b--white-50">
        </div>
      </form>
    </div>
    
  </div>

  <script>
    function sendSound(sound) {
      fetch('/play', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json; charset=UTF-8'
        },
        body: JSON.stringify({sound: sound})
      });
    }

    function fileChange () {
      const file = document.getElementById('file').files[0];
      document.getElementById('file-selected').innerText = file.name;
      document.getElementById('fileSubmit').classList.remove('dn');
      document.getElementById('fileSubmit').value = `Upload ${file.name}`;
      document.getElementById('upload').classList.add('dn');
    }

  </script>
</body>

</html>
